.table-wrap {
  tr {
    th {
      padding: 16px;
    }
  }
  .table-root {
    min-width: 900px;
  }
}
.asin-wrap {
  width: 290px;
  border: 1px solid rgb(232, 233, 234);
  padding: 4px 7px;
  text-align: justify;
  margin-top: 10px;
  .asin-title {
    font-size: 15px;
    font-weight: 800;
  }
}
