#crx-root {
  position: relative;
  z-index: 1000;
}
.a-cursor {
  cursor: pointer;
}
.extAddIcon {
  display: none;
}
.extension-wrap {
  width: 100%;
  height: 540px;
  bottom: 0;
  left: 0;
  position: fixed;
  background: #fff;
  border-top: 1px solid #cbcdd1;
  z-index: 2;
  &.wrap-disabled {
    transform: translate(0, 0) !important;
  }
  &.wrap-dragable {
    width: 1280px;
    height: 640px;
    left: 0;
    bottom: 20px;
  }
  .box-wrap {
    display: flex;
    padding: 15px 15px 15px 0;
    .box-item {
      flex: 1;
      margin-left: 15px;
      padding: 10px 20px;
      box-shadow: 3px 3px 10px rgba(17, 17, 26, 0.1);
      .box-title {
        font-size: 12px;
        margin-bottom: 3px;
      }
      .box-info {
        font-size: 15px;
        color: #0b61d7;
      }
    }
  }
}
.table-wrap {
  tr {
    th {
      padding: 8px;
      min-width: 120px;
      text-indent: 12px;
    }
  }
  .table-root {
    min-width: 900px;
  }
}
.asin-wrap {
  max-width: 224px;
  border: 1px solid rgb(232, 233, 234);
  padding: 4px 7px;
  text-align: justify;
  margin-top: 10px;
  .asin-title {
    font-size: 15px;
    font-weight: 800;
  }
  .asin-item {
    font-size: 13px;
  }
}
.cell-wrap {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.cell-wrap-1 {
    padding-left: 20px;
    width: 200px;
  }
  img {
    width: 40px;
    height: 30px;
    margin-right: 5px;
  }
  .cell-desc {
    width: 145px;
    margin-left: 5px;
    div {
      width: 145px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      a {
        color: #333;
      }
    }
    p {
      display: flex;
      align-items: center;
      margin-top: 3px;
      a {
        color: #999;
      }

      i {
        position: relative;
        top: 3px;
        font-size: 12px;
        color: #0560e5;
      }
      span {
        font-size: 12px;
        color: #0560e5;
        cursor: pointer;
      }
    }
  }
}
.login-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -275px 0 0 -260px;
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 550px;
  background: #fff;
  box-shadow: 0 0 5px #cbcdd1;
  color: #333;
  z-index: 111;
  .login-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    line-height: 42px;
    background-color: #0560e5;
    color: #fff;
    text-align: center;
    font-size: 16px;
    .title-logo {
      height: 20px;
    }
    .close-icon {
      position: absolute;
      right: 10px;
      top: 7px;
      cursor: pointer;
    }
  }
  .login-con {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    .login-h2 {
      width: 374px;
      text-align-last: left;
      font-size: 22px;
    }
    .login-input {
      width: 374px;
      margin-top: 20px;
      height: 50px;
      padding-left: 25px;
      background-color: #f6f9f9;
      font-size: 16px;
      border: none;
      box-shadow: none;
      &:focus {
        box-shadow: none;
      }
    }
    .login-info {
      width: 374px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 22px;
      font-size: 14px;
      line-height: 40px;
      a {
        color: #0560e5;
      }
    }
    .login-button {
      height: 50px;
      width: 374px;
      margin-top: 38px;
      text-align: center;
      line-height: 50px;
      color: #fff;
      font-size: 18px;
      border-radius: 100px;
      background-color: #0560e5;
      cursor: pointer;
    }
    .login-desc {
      padding-top: 15px;
      text-align: center;
      font-size: 14px;
      a {
        color: #0560e5;
      }
    }
  }
}
.ext-title {
  display: flex;
  height: 42px;
  background-color: #0560e5;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
  .ext-l {
    font-size: 14px;
    i {
      position: relative;
      top: 4px;
      margin: 0 1.5px;
    }
    span {
      cursor: pointer;
      opacity: 0.5;
    }
  }
  .ext-m {
    font-size: 20px;
    .title-logo {
      height: 20px;
    }
  }
  .ext-r {
    position: relative;
    letter-spacing: 4px;
    .icon-item {
      margin-left: 10px;
      &.icon-item-2 {
        position: relative;
        top: -2px;
      }
    }
  }
}
.modal-wrap {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #3169e2;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -90px 0 0 -165px;
  .modal-desc {
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
  }
  .button-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15px;
    .modal-button {
      width: 98px;
      height: 34px;
      line-height: 34px;
      margin-top: 15px;
      text-align: center;
      color: #fff;
      border: 1px solid #3169e2;
      background-color: #3169e2;
      border-radius: 3px;
      cursor: pointer;
      &.modal-button-1 {
        color: #333;
        background-color: #fff;
        border-color: #333;
      }
    }
  }
}
