input[type='text'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='password'],
input[type='date'],
input[type='email'] {
  background-color: #fff;
  height: auto !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  line-height: normal;
}
