#crx-root {
  position: relative;
  z-index: 1000;
}
.a-cursor {
  cursor: pointer;
}
.extension-wrap {
  width: 100%;
  height: 440px;
  bottom: 0;
  left: 0;
  position: fixed;
  background: #fff;
  border-top: 1px solid #cbcdd1;
  z-index: 2;
}
.table-wrap {
  tr {
    th {
      padding: 16px;
      min-width: 120px;
    }
  }
  .table-root {
    min-width: 900px;
  }
}
.asin-wrap {
  max-width: 224px;
  border: 1px solid rgb(232, 233, 234);
  padding: 4px 7px;
  text-align: justify;
  margin-top: 10px;
  .asin-title {
    font-size: 15px;
    font-weight: 800;
  }
  .asin-item {
    font-size: 13px;
  }
}
.cell-wrap {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 40px;
    height: 30px;
    margin-right: 5px;
  }
  p {
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.login-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -275px 0 0 -260px;
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 550px;
  background: #fff;
  box-shadow: 0 0 5px #cbcdd1;
  color: #333;
  z-index: 111;
  .login-title {
    position: relative;
    height: 42px;
    line-height: 42px;
    background-color: #0560e5;
    color: #fff;
    text-align: center;
    font-size: 16px;
    .close-icon {
      position: absolute;
      right: 10px;
      top: 7px;
    }
  }
  .login-con {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    .login-h2 {
      width: 374px;
      text-align-last: left;
      font-size: 22px;
    }
    .login-input {
      width: 374px;
      margin-top: 20px;
      height: 50px;
      padding-left: 25px;
      background-color: #f6f9f9;
      font-size: 16px;
      border: none;
      box-shadow: none;
      &:focus {
        box-shadow: none;
      }
    }
    .login-info {
      width: 374px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 22px;
      font-size: 14px;
      line-height: 40px;
      a {
        color: #0560e5;
      }
    }
    .login-button {
      height: 50px;
      width: 374px;
      margin-top: 38px;
      text-align: center;
      line-height: 50px;
      color: #fff;
      font-size: 18px;
      border-radius: 100px;
      background-color: #0560e5;
      cursor: pointer;
    }
    .login-desc {
      padding-top: 15px;
      text-align: center;
      font-size: 14px;
      a {
        color: #0560e5;
      }
    }
  }
}
.ext-title {
  display: flex;
  height: 42px;
  background-color: #0560e5;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
  .ext-l {
    font-size: 14px;
  }
  .ext-m {
    font-size: 20px;
  }
  .ext-r {
    position: relative;
    letter-spacing: 4px;
  }
}
